/* Universal Styles */
html {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
}
a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  background-color: black;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
header span {
  display: inline-block;
  padding: 0.66rem 0;
}

/* Banner and Nav */
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  position: relative;
}
.banner-box {
  background-color: black;
  position: absolute;
  top: 30%;
  left: 15%;
  width: 20rem;
  padding: 2rem 3rem;
}
.banner-box span {
  font-weight: bold;
}
.banner-box h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}
nav {
  background-color: firebrick;
  display: flex;
  justify-content: space-between;
}
nav span {
  display: inline-block;
  padding: 0.75rem 0;
}

/* Main */
main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-grid {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  width: 960px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 4px solid black;
}
.product img {
  background-color: white;
  height: 9rem;
  width: 50%;
  padding: 2rem;
}
.glasses img {
  height: 5rem;
  padding: 4rem;
}
.product span {
  display: block;
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}
.location-hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
}
.location, .hours {
  padding-bottom: 4rem;
  width: 35%;
}
.black-box {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
}
.black {
  color: black;
  display: inline-block;
  padding: 0.3rem 0;
}

/* Footer */
footer {
  height: 11.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: left;
}
